<!DOCTYPE html>
<html lang="en">
<%- include ('includes/head.ejs') %>

<body id="favorietenpage">
	<%- include ('includes/header.ejs') %>

	<main>
		<section id="add">
			<div>
				<h1>Favorieten filtersets</h1>
				<p>Selecteer, bewerk of verwijder hier jouw filtersets.</p>
			</div>

			<a href="/add">Nieuw filterset</a>
		</section>

		<section id='fav-voorkeuren'>
			<% for (var i = 0; i < filterSet.length; i++) { %>

			<article>
				<div>
					<h2><%= filterSet[i].name %>:</h2>
					<p><%= filterSet[i].geslacht %>, van <%= filterSet[i].leeftijdA %> tot <%= filterSet[i].leeftijdB %> jaar, tot <%= filterSet[i].afstand %> km.</p>
					<p><%= filterSet[i].opzoek %></p>
					<p><%= filterSet[i].eigenschap %></p>
					<p><%= filterSet[i].interesse %></p>
				</div>
				<div class="knoppen">
					<button>Selecteer</button>
					<button>Pas aan</button>
					<button id="delete">Verwijder</button>
				</div>
			</article>

			<% } %>
		</section>
	</main>

	<%- include ('includes/footer.ejs') %>
	<script src="js/script.js"></script>
</body>

</html>
