<!DOCTYPE html>
<html lang="en">
<%- include ('includes/head.ejs') %>

<body>
	<%- include ('includes/header.ejs') %>

	<main>
		<section id="add">
			<h1>Favorieten filtersets</h1>
			<a href="/add">Nieuw filterset</a>
		</section>

		<section id='fav-voorkeuren'>
			<% for (var i = 0; i < filterSet.length; i++) { %>

			<article>
				<div>
				<h2><%= filterSet[i].name %>:</h2>
				<p><%= filterSet[i].geslacht %>, van <%= filterSet[i].leeftijdA %> tot <%= filterSet[i].leeftijdB %>, tot <%= filterSet[i].afstand %> km.</p>
				<p><%= filterSet[i].opzoek %></p>
				<p><%= filterSet[i].eigenschap %></p>
				<p><%= filterSet[i].interesse %></p>
				</div>
				<button>Selecteer</button>
			</article>

			<% } %>
	</main>

	<%- include ('includes/footer.ejs') %>
	<script src="js/script.js"></script>
</body>

</html>
