<!DOCTYPE html>
<html lang="en">
<%- include ('includes/head.ejs') %>

<body>
	<%- include ('includes/header.ejs') %>

	<main>
		<section id="filterbar">
			<h2>Geselecteerde filters: <span>Geen.</span></h2>
			<a href="/favorieten">Selecteer filterset</a>
		</section>

		<form action="/">
			<select id="user" name="user">
				<% for (var i = 0; i < user.length; i++) { %>
						<option value="<%= user[i].username %>"><%= user[i].username %></option>
				<% } %>
			</select>
			<input type="submit">
		</form>

		<section id='overzicht'>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[0] %></p>
			</article>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[1] %></p>
			</article>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[2] %></p>
			</article>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[3] %></p>
			</article>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[4] %></p>
			</article>
			<article>
				<img src="./img/profilepicture.jpg" alt="vrouw">
				<p><%= name[5] %></p>
			</article>
	</main>
	<%- include ('includes/footer.ejs') %>
	<script src="js/script.js"></script>
</body>

</html>
